<ng-template #newSnippet let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Add New Code Snippet</h5>
    <button type="button" class="close" aria-hidden="true" (click)="modal.dismiss('Cross click')">X</button>
  </div>
  <div class="modal-body p-3">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label class="control-label">Code Snippet</label>
          <textarea class="form-control" placeholder="Example Code" type="text" name="code" [(ngModel)]="code"
            rows="24"></textarea>
        </div>
      </div>
    </div>

    <div class="text-right pt-4">
      <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Close</button>
      <button type="button" class="btn btn-success ml-1" [disabled]="!code" (click)="save()">Save</button>
    </div>
  </div>
</ng-template>
