<div class="container-fluid">
  <div class="row page-title align-items-center">
    <div class="col-sm-4 col-xl-6">
      <h4 class="mb-1 mt-0">Snippets</h4>
    </div>
  </div>

  <div class="text-left pt-4">
    <!-- <button type="button" class="btn btn-light" (click)="modal.dismiss('Cross click')">Close</button> -->
    <button type="button" class="btn btn-danger" (click)="Back()">
      <i class="uil uil-previous"></i></button>
  </div>

  <br>

  <div class="row">
    <div class="col-xl-4">
      <div class="card" style="height: 10rem;" (click)="loadValues()">
        <div class="card-body pt-8">
          <h5>Random Values</h5>
          <p>Generates random values of numbers</p>
          <hr>
          <div class="left">
            <p>by John Doe</p>
          </div>
          <div class="right">
            <p>8/16/2021</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
