code {
  // min-height: 30vh;
  background-color: #F6F6F6;
  font-size: 14px;
  color: purple;
  padding: 20px;
}

.card-c-h {
  min-height: 40vh;
}

.activity-list {
  padding: 10px;
}

.activity-list:hover {
  background-color: #F3F4F7;
}
